/* General styling */

* {

    box-sizing: border-box;

}

body {

    margin: 0px;
    background-color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

}

a {

    text-decoration: none;
    color: black;

}

/* Calculator container and calculator */

.calcContainer {

    color: white;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {

    border: black 3px solid;
    border-radius: 20px;
    background-color: darkgrey;

    width: 360px;
    height: 440px;

    display: flex;
    flex-direction: column;    

}

.screen {

    border: black 1px solid;
    background-color: rgb(231, 240, 231);

    width: 80%;
    height: 20%;    

    margin-top: 40px;
    margin-bottom: 30px;        

    align-self: center;
    display: flex;
    justify-content:flex-end;

}

.screenContent {
    
    align-self:flex-end;
    color: black;
    font-size: 30px;
    font-weight: light;
    padding-right: 15px;
    padding-bottom: 15px;

}

/* Button section and buttons */

.buttonSection {

    /* background-color: blueviolet; */

    width: 340px;
    height: 250px;    

    display: flex;
    justify-content: center;
    align-self: center;
    align-content:flex-end;    
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 15px;

}

button {

    font-size: 15px;
    padding:5px;

    border-radius: 50%;

    height: fit-content;
    width: 20%;
    height: 20%;
}

/* Header and Footer */

header {

    
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-weight: bolder;

}

footer {

    
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: bold;

}